header {
    /* /penggunaan grid */
    height: 45px;
    padding: 0 15%;
    position: fixed;
    width: 100%;
    z-index: 10;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* -ms-grid-columns: repeat(10, 1fr); */
    grid-template-rows: 45px;

}

.header-login {
    background-color: rgba(51, 51, 51, 1);
    transition: all 0.3s;
    
}

.main2 {
    width: 70%;
    background-color: #ffffff;
    padding: 50px 100px;
    transition: all 0.3s;
    height: fit-content;
    display: block;
    margin-top: 30px;
    
}

.header-warning{
    display: inline;
    float: left;
    line-height: 45px;
    color: white;
    text-decoration: none;
    padding: 0 35px;
    font-weight: bold;
    /* margin-left: 30%; */
    grid-column: 5/span 3;
}

.header-logo{
    float: left;
    line-height: 45px;
    background-color: rgb(255, 94, 0);
    color: white;
    text-decoration: none;
    padding: 0 35px;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    grid-column-start: 1;
}

.Songs {

    margin-top:30px;
    text-align: center;
}

.header-login:hover {
    background-color: rgba(51, 51 ,51  0.5);
}
.selectedSongs{
    margin-top:30px;
    text-align: center;
}


@media all and (max-width: 1000px) {

    .main2 {
        width: 100%;
        padding: 60px 80px;
    }

    .header {
        font-size: 80px;
        text-align: left;
    }  
    
    header{
        padding: 0 15%;
    } 
    
}

@media (max-width: 670px) {

    .main2 {
        width: 414px;
        padding: 60px 50px;
    }

    .header {
        font-size: 60px;
        text-align: left;
    }

    header{
        padding: 0 12%;
        padding-right: 55.5px;
    } 

    .header-logo {
        transform: scale(0%);
        display: none;
    }

}