.header {
    font-size: 80px;
    font-family: "Raleway", sans-serif;
    padding: 50px 30px 0 45px;
    transition: all 0.3s;
    display: inline;
}
.desc {
    font-weight: normal;
    margin: 30px 30px 0px 30px;
    padding-bottom: 40px;
    line-height: 25px;
    border-bottom: 1px solid rgb(214, 214, 214);
    transition: all 0.3s;
}

.header1 {
    border-top: 1px solid rgb(241, 241, 241);
    padding-top: 50px;
}

@media all and (max-width: 1000px) {

    .header {
        font-size: 80px;
        text-align: left;
    }

    .desc {
        font-weight: normal;
        text-align: justify;

    }


}

@media (max-width: 670px) {

    .header {
        font-size: 60px;
        text-align: left;
    }

    .desc {
        text-align: justify;
    }

    .header1 {
        font-size: 40px;
        margin: 0px 0 20px 0;
    }


}