.songForm {
    display: block;
    padding: 30px 30px 30px 40px;
    transition: all 0.5;
}


.formHeader {
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    margin: 20px 0 40px 0;
    transition: all 0.3s;
}

form {
    font-weight: normal;
    display: flex;
    justify-content: center;
}

input {
    padding: 20px;
    margin: 10px 0 30px 0;
    width: 100%;
    border: 1px solid #dee7ec;
}

.formTitle {
    margin: 10px 0;
}

.formDescription {
    margin: 10px 0;
}

.submit {
    line-height: 40px;
    padding: 0 25px;
    border-radius: 50%;
}
input:focus {
    outline: none;
}

@media all and (max-width: 1000px) {
    
    form {
        margin-bottom: 50px;
        display: block;
        
    }
    
    .formHeader{
        font-size: 40px;
        text-align: left;
    }
    
}

@media (max-width: 670px) {

    .formHeader{
        font-size: 30px;

        text-align: left;
    }

    .desc {
        text-align: justify;
    }

    form {
        margin-bottom: 50px;
        display: block;
    }
    .songForm {
        padding: 30px ;
    }

}