.header-login:hover {
    background-color: rgba(51, 51 ,51  0.5);
}

.playSong:hover {
    color: rgb(255, 94, 0);
}

.btn-message1:hover {
    color: white;
}

.buttonTemplate:hover {
    opacity: 1;
    cursor: pointer;
    text-decoration: none;
}

.favoriteSongs:hover {
    opacity: 1;
    transform: scale(90%);
}
.loginButton:hover, .searchButton:hover {
    background-color: rgb(37, 37, 37);
    
}
.Songs::after{
    transform: translateY(0);
    display:block;
}