@media all and (max-width: 1000px) {
    body {
        padding: 0;
        margin: 0;
        background-color: #ffffff;
    }

    .main2 {
        width: 100%;
        padding: 60px 80px;
    }

    .header {
        font-size: 80px;
        text-align: left;
    }

    .desc {
        font-weight: normal;
        text-align: justify;
    }

    .carousel-inner {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    form {
        margin-bottom: 50px;
        display: block;
        
    }
    
    .formHeader{
        font-size: 40px;
        text-align: left;
    }
    
    header{
        padding: 0 120px;
    } 

    .searchForm{
        margin-left: 5%;
    }

    
}

@media (max-width: 670px) {

    .searchButton {
        margin-right: 0;
        padding-right:20px;
        padding-left:20px;
    }
    .loginButton{
        padding-right:20px;
        padding-left:20px;
    }
    .searchForm{
        margin-left: 0%;
    }
    
    body {
        padding: 0;
        margin: 0;
        background-color: #ffffff;
    }

    .carousel-inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main2 {
        width: 414px;
        padding: 60px 50px;
    }

    .header {
        font-size: 60px;
        text-align: left;
    }

    .formHeader{
        font-size: 30px;

        text-align: left;
    }

    .desc {
        text-align: justify;
    }

    .header1 {
        font-size: 40px;
        margin: 0px 0 20px 0;
    }

    form {
        margin-bottom: 50px;
        display: block;
    }

    header{
        padding: 0 30px;
        padding-right: 50px;
    } 

    input {
        text-align: center;
    }


    .header-logo {
        transform: scale(0%);
        display: none;
    }

}